body {
    background-color:SlateBlue;
}
ul {
    background-color: white;
}
.kanach {
    color: Green;
    text-decoration: line-through;
}

.karmir {
    color: red;
}

.nkar {
    height: 20px;
    width: 20px;
}